<!-- extend the main template here -->
{% extends 'main.html' %}
<!-- block content -->
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">
    <div>
        <a href="{% url 'create-client' %}">Enter New Client </a>
        <div>
            {% for client in clients %}
            <div>
                <h5>{{client.id}} -- <a href="{% url 'client' client.id %}">{{client.full_name}}</a></h5>
            </div>
            {% endfor %}
        </div>
    </div>

    <div>
        more to come
    </div>
</div>>

{% endblock %}